/* global styles here*/

@import url(http://fonts.googleapis.com/css?family=Bentham);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400);
@import url(https://fonts.googleapis.com/css?family=Cabin:700);

/** {
   font-size: 18px;
}*/

body, p { font-family: Bentham, serif; 	}

h1, h2, h3, h4, h5, h6 , #archive-header, .page-title 
{font-family: "Josefin Sans", sans-serif; font-weight: 400;	}

#site-sub-navigation {font-family: Bentham, serif;	}

h1, .h1 {font-size: 21px; margin-top: 6px;}


body {
	background-color: $background;
	background-image: url("../images/bgtile.png");
}

.fa {color: $brand-primary;}



/* MIXINS  */

@mixin doubleborder() { // rewrite for reusability $colour, $bgcolour, $firstwidth, $secondwidth
 border: 1px solid $background;
 border-radius: 5px;
  padding: 0px 15px 15px 15px;
  margin-bottom: 30px;
  box-shadow:
   0 0 1px 1px $brand-primary,
    0 0 0 6px $background,
    0 0 1px 7px $brand-primary;

}

/* Search */

.page-navigation {
  margin: 1em 0 1.5em;
}
/*// .search-form.form-inline  {
//   width: 100%;
// }*/



.homesearch{
  @include doubleborder();
  padding: 1em;
  h3 {
    background-image: url('../images/asktheguru.png')  ;
    margin: 0;
    
    background-size: contain;
    background-repeat: no-repeat;
    &.searchagain {
      background-image: url("../images/searchagain.png") ;
    }
    &.searchgames {
      background: none;
      height: 0;
    }
  }
  .input-group-btn .search-submit {
    margin-left: 5px;
  }
}



// Seearch results
.gameloop, .post-type-archive-game .theloop {
  display:flex; 
  flex-wrap:wrap;
  article {
    margin-bottom: 2em;
    .card {height:100%;}
  }
  
}


/*Sidebar, widgets etc*/
.widget .search-form .input-group {
  width: 100%;
  display: block;
  margin-left: 0;
}

/* Override Plugin CSS*/

// UPW
.upw-posts article { 
border-bottom: none;
margin-bottom: 0;
padding-bottom: 0;
} 
.upw-posts .entry-image {
    margin-bottom: 0.2em;
}


/*// .searchandfilter ul li li {
//     display: inline;
// }
// .searchandfilter label {
//     display: inline;
// }*/



/*    // CAROUSEL*/

.carousel-inner > .item {}

#carousel-example-generic {
    margin: 20px auto;
    width: 400px;
}

#carousel-custom {
    
    width: 100%;
    @include doubleborder();
    .glyphicon { color: $brand-primary;}
    padding-top: 15px;

}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
       // @include doubleborder();
}
#carousel-custom .carousel-indicators li {
    background-color: $background;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
    height: 300px;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img {margin: 0 auto;}


.carousel-control.left, .carousel-control.right {background-color: none; background-image: none;}

.carousel-control .glyphicon-arrow-left, .carousel-control .glyphicon-arrow-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;

        z-index: 5;
    display: inline-block;
    position: absolute;
    top: 50%;
}


.carousel-control .glyphicon-arrow-right, .carousel-control .icon-next {
    margin-right: -15px;
}


/*Modal*/
.modal-header {border-bottom: none;}
.modal-body img {
  margin: 0px auto;
display: block;
}
.modal-footer{
  border-top: none;
}


