// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;



// Needed cos took out Bootstrap, used in multiple places
$screen-sm-min: 456;
$thumbnail-caption-padding: 0 ;