

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    3;
$main-md-columns:       12;
$sidebar-md-columns:    2;


// Colors
$brand-primary:        rgba(221,100,83,1) ; //red colour #DD6453
$background: 		rgba(253, 248, 240,1)	; // beige-brown #EFECDA
$hilight:		rgb(253, 205, 4);  // Yellow







.offscreen {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}