// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    3;

// Colors
$brand-primary:        rgba(221,100,83,1) ; //red colour #DD6453
$background: 		rgba(253, 248, 240,1)	; // beige-brown #EFECDA


// Fonts
$header-font: '"Josefin Sans", sans-serif' ;
$content-font: "Bentham, serif" ;