/* NAV (override bootstrap)  */

/* Nav Layout*/
.navbar-brand > img {width: 100%}

.navbar-header {
  float: none;
  font-size: 27px;
  display: block;
  .strip {
    background-color: $brand-primary;
  }
}


.navbar-brand {
  height: auto;
  &.moblogo {
    padding: 0;
  }

}
.tagline {
  font-family: 'Cabin', sans-serif;
  display:block; 
  clear:both; 
  text-align: center;
font-size: 1.4rem;
color: $brand-primary;
}

.navbar-nav {
    clear: left;
    float: none;
}
.navbar-nav > li > a {padding: 2px 20px; border-right: 1px solid #FFBBBC;}
.navbar-default .navbar-collapse:before {border-top: 2px solid black;}

/* Nav COLOURS */

.navbar-default {
    background-color: transparent;
    border-color: #E7E7E7;
}
$bgDefault      : $brand-primary;
$bgactive		: darken($brand-primary, 10%);
$bgHighlight    : lighten($brand-primary, 10%);
$colDefault     : #fff; //default text colour
$colHighlight       : $hilight ; //highlight text colour

.navbar-default {

    margin-bottom: 0;
 
  .navbar-brand {
    color: $colDefault;
     width: 100%;
     padding-top: 9px;
     padding-bottom: 0;
    &:hover, &:focus { 
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
   background-color: $bgDefault;
  border-color: $bgHighlight;
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight;
           background-color: $bgactive;}}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgactive; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $background;
    float: none;
    margin-left: 15px;
    padding: 5px 5px;
    font-size: 0.5em;
  line-height: 1em;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $background }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

.navbar-default .navbar-brand.moblogo {padding-top: 2px;}
/*Nav Layout*/



 // Breadcrumbs

 .breadcrumb_last{
  display: none;
 }
