// Game Posts

// mob only pic
.mobpic img{
	margin: 1em auto;
	display: block;
}

.type-game {
	header {margin-bottom: 0.6em;}
	.entry-summary {
		text-align: center;
		p {text-align: left;}
	}
}
	



.game-meta {
	display: block; 
	padding-right: 0; 
	//
	border-top: 1px solid #DD6453;
	padding-top: 5px;
	text-align: left;
	font-family: "Josefin Sans", sans-serif;
}

.single-game{
	.meta{
		
		@include doubleborder();
	}
	.game-meta {
		white-space: nowrap;
		border: none;
		font-family: "Josefin Sans", sans-serif;
	}

	.yasr-visitor-votes{
		margin-bottom: 20px;
	}
	.entry-content { margin-top: 2em;}
}

.sam_says, .joe_says {
	@include doubleborder();
	padding-top: 25px;
	background:  url('../images/samsays.png') no-repeat ;
	h3 { @extend .text-hide;}
}

.joe_says{ background: url('../images/joesays.png') no-repeat ;}

.gameextra {
	@include doubleborder();
	.icon {
		padding: 6px 0;
		margin-bottom: 2px;
		background: url('../images/factors-sm.png') no-repeat 0 33%;
		span{ @extend .text-hide;}
		&.ff{background-position: 0 0; }
		&.bb{background-position: 0 -123px; }
		&.aa{background-position: 0 -82px; }
	}

}


h1.entry-title{margin-top: 0}



// Posts on archive pages
.loop{
	display: flex;
	flex-wrap: wrap;
}
.card {
    @include doubleborder();
    .entry-title{
    	word-wrap: break-word;
    }
    img {
    	max-width: 100%;
		height: auto;
    }
     .entry-summary > a:first-of-type {    
    	height: 170px;
	    background: $background;
	    display: block;
	    padding-top: 10px;
	    margin-bottom: 10px;

	}
	
	
}
.meta-complexity a {
		background: url('../images/cogs.png') no-repeat ;
		background-position: 0 -1px;
		display: inline-block;
		width: 100px;
		height: 21px;
		vertical-align: top;
		span{
			@extend	.offscreen;
		
		}
		
		&[href*="2"] { background-position: 0 -22px}
		&[href*="3"] { background-position: 0 -44px}
		&[href*="4"] { background-position: 0 -69px}

	}

.gameextra-meta p {text-transform: uppercase;}
span.meta-complexity {
		background: url('../images/cogs.png') no-repeat ;
		background-position: 0 -1px;
		display: inline-block;
		width: 100px;
		height: 21px;
		vertical-align: top;
		&.value2 { background-position: 0 -23px}
		&.value3 { background-position: 0 -45px}
		&.value4 { background-position: 0 -70px}
		span{
			@extend	.offscreen;
		
		}
	}

	.related {
		margin-top: 2em;
		td {padding: 5px;}
	}