// Game Posts

.type-game {
	header {margin-bottom: 0.6em;}
	.entry-summary {
		text-align: center;
		p {text-align: left;}
	}
}
	

.game-meta {
	display: block; 
	padding-right: 1em; 
	//
	border-top: 1px solid #DD6453;
	padding-top: 5px;
	text-align: left;
	font-family: "Josefin Sans", sans-serif;
}

.single-game{
	.meta{
		
		border-radius: 5px;
		padding: 1em;
		margin-bottom: 1em;
		font-family: "Josefin Sans", sans-serif;
		box-shadow: 0 0 1px 1px $brand-primary
	}
	.game-meta {
		white-space: nowrap;
		border: none;
		font-family: "Josefin Sans", sans-serif;
	}
}




.gameextra {@include doubleborder();}


h1.entry-title{margin-top: 0}



// Posts on archive pages
.loop{
	display: flex;
	flex-wrap: wrap;
}
.card {
    @include doubleborder();
     .entry-summary > a:first-of-type {    
    	height: 170px;
	    background: $background;
	    display: block;
	    padding-top: 10px;
	    margin-bottom: 10px;
	}
	.meta-complexity a {
		background: url('../images/cogs.png') no-repeat ;
		display: inline-block;
		width: 100px;
		height: 25px;
		vertical-align: top;
		span{
			@extend	.offscreen;
		
		}
		
		&[href*="2"] { background-position: 0 -25px}
&[href*="3"] { background-position: 0 -50px}
		&[href*="4"] { background-position: 0 -75px}

	}

	
}